<a href="https://colab.research.google.com/github/yForecasting/intro_python/blob/main/Introduction_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Python

## Variables

In [1]:
x = 3
print(x)

3

In [2]:
print(x + 1)   # Addition
print(x - 1)   # Subtraction
print(x * 2)   # Multiplication
print(x ** 2)  # Exponentiation

4
2
6
9

In [3]:
x += 1
print(x)
x *= 2
print(x)

4
8

In [4]:
hello = 'hello'   # String literals can use single quotes
world = "world"   # or double quotes; it does not matter
print(hello, len(hello))

hello 5

In [5]:
x = hello + ' ' + world  # String concatenation
print(x) # Dynamic type casting, x can change type when required

hello world

In [6]:
s = "hello"
print(s.capitalize())  # Capitalize a string
print(s.upper())       # Convert a string to uppercase; prints "HELLO"
print(s.rjust(7))      # Right-justify a string, padding with spaces
print(s.center(7))     # Center a string, padding with spaces
print(s.replace('l', '(ell)'))  # Replace all instances of one substring with another
print('  world '.strip())  # Strip leading and trailing whitespace

Hello
HELLO
  hello
 hello
he(ell)(ell)o
world

## Lists

In [7]:
xs = [3, 1, 2]   # Create a list
print(xs, xs[2])
print(xs[-1])     # Negative indices count from the end of the list; prints "2"

[3, 1, 2] 2
2

In [8]:
xs[2] = 'Belgium'    # Lists can contain elements of different types
print(xs)

[3, 1, 'Belgium']

In [9]:
xs.append('Chocolate') # Add a new element to the end of the list
print(xs)

[3, 1, 'Belgium', 'Chocolate']

In [10]:
x = xs.pop()     # Remove and return the last element of the list
print(x, xs)

Chocolate [3, 1, 'Belgium']

## Loops

### For - loop

In [11]:
for i in range(1,5):
  print(i)

1
2
3
4

In [12]:
# Loop over numbers or items
animals = ['cat', 'dog', 'monkey'] 
for animal in animals:
    print(animal)

cat
dog
monkey

In [13]:
# Alternative way of printing output
animals = ['cat', 'dog', 'monkey'] 
for animal in animals:
    print('The animal is a {}'.format(animal))

The animal is a cat
The animal is a dog
The animal is a monkey

### While - loop

In [14]:
i=1 
while i<5:
  print(i)
  i+=1

1
2
3
4

# Conditional statements

In [15]:
i=15
if i>5:
  print("Number is bigger than 5")
else:
  print("Number is smaller or equal to 5")

Number is bigger than 5

In [16]:
uno=1
duo=2
if uno>0 and duo>0:
  print("Both numbers are positive")
else:
  print("Not both numbers are positive")

Both numbers are positive

In [18]:
numbers = range(0,11)
for i in numbers:
  print(i)

0
1
2
3
4
5
6
7
8
9
10

In [20]:
for i in numbers:
  if i%2==0:
    print("Number {} is an even number.".format(i))

Number 0 is an even number.
Number 2 is an even number.
Number 4 is an even number.
Number 6 is an even number.
Number 8 is an even number.
Number 10 is an even number.

## Functions

In [21]:
def sign(x):
    if x > 0:
        return 'positive'
    elif x < 0:
        return 'negative'
    else:
        return 'zero'

for x in [-1, 0, 1]:
    print(sign(x))

negative
zero
positive

In [22]:
def hello(name, loud=False):
    if loud:
        print('HELLO, {}'.format(name.upper()))
    else:
        print('Hello, {}!'.format(name))

hello('James')
hello('Toby', loud=True)

Hello, James!
HELLO, TOBY

In [23]:
def show_matrix(mylist):
    res=""
    for row in mylist:
      for col in row:
          res += col
      res += "\n"
    return(res)

print(show_matrix(["xxx","ooo","xxx"]))

xxx
ooo
xxx

## Classes

In [24]:
class Greeter:

    # Constructor
    def __init__(self, name):
        self.name = name  # Create an instance variable

    # Instance method
    def greet(self, loud=False):
        if loud:
          print('HELLO, {}'.format(self.name.upper()))
        else:
          print('Hello, {}!'.format(self.name))

g = Greeter('Toby')  # Construct an instance of the Greeter class
g.greet()            # Call an instance method; prints "Hello, Toby"
g.greet(loud=True)   # Call an instance method; prints "HELLO, TOBY!"

Hello, Toby!
HELLO, TOBY